<h1>Meetry</h1>
<% if user_signed_in? %>
  <p>
    Hello!
    <%= link_to current_user.uuid, current_user %>
  <p>
  <%= link_to "Connect Friend!", new_pair_image_path %><br>
<% end %>

<%= link_to "Registration", new_user_path %>
<%= link_to "Login", login_path %>
