// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
  background-image: url(top);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 290px;
  margin-top: 20px;
}
h1{
color: white;
text-align: center;
margin-top: -21px;
margin-bottom: 0;
font-size: 5rem;
font-family: serif;
}
.first-contact{
  margin-top: -46px;
  margin-bottom: 6rem;
  color: black;
  text-align:center;
  font-size: 10px;
  padding-bottom: 3rem;
  padding-left: 11rem;
  font-family: serif;
}
.registration:link{
font-size: 1.5rem;
text-decoration: none;
}
.registration:visited{
  color: #66FFFF;
}
.registration:hover{
  color: blue;
}
.regist-box{
  text-align: center;
}
a:-webkit-any-link:hover{
  color: blue;
}
a:-webkit-any-link {
  font-size: 2rem;
  color: #66FFFF;
text-decoration: none;
}
p{
  font-size: 2rem;
  color: #66FFFF;
  text-align: center;
  margin-top: 0;
}
