.sakusei{
  text-align: center;
}
.name-box{
  margin: 15px;
  width: 300px;
  height: 20px;
}
.mail-box{
  width: 300px;
  height: 20px;
  margin: 15px;
}
.send{
  margin-left: 17rem;
  background-color: navy;
  color: white;
}
